<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI SURVEILLANCE</title>
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/css/style2.css" />
  </head>
  <body>
    <section class="intro">
      <div class="container">
        <div class="intro-content">
          <h1>
             <br />
            <span> AI SURVEILLANCE - Harmful Object Detection System </span>
          </h1>

          </br>



         <h5>
             <br />
            <span> Empowering safety through AI, AI SURVEILLANCE detects and alerts you about harmful objects in real-time. Upload your videos or connect your CCTV feed to enhance security with advanced object recognition technology. <br/> Stay informed, stay secure—because safety comes first. 
</span>
          </h5>



	</br>
	</br>



<form action="{{ url_for('signup')}}"method="post">
          
          <button id="startBtn" class="btn btn-primary">Sign Up</button>

</form>

</br>
</br>



<form action="{{ url_for('login')}}"method="post">
          
          <button id="startBtn" class="btn btn-primary">Login  </button>

</form>




        </div>
      </div>



</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>





    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
